{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off"
  },
  "globals": {
    "angular": "readonly",
    "d3": "readonly",
    "window": "readonly",
    "_": "readonly"
  }
}
