.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #888;
    stroke-width: 0.063em;
}

.node text {
    font: 1em sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.125em;
}

div.tree-diagram-tooltip {
    position: absolute;
    text-align: center;
    width: 8em;
    height: 1.5em;
    padding-top: 1%;
    font: 1em sans-serif;
    background: #555;
    color: white;
    border: 0;
    border-radius: 0.25em;
    pointer-events: none;
}
