.visualization > svg {
    border-style: solid;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: lightsteelblue;
    stroke: #99CC33;
    stroke-width: 1.5px;
}

.node circle.isInPath {
    fill: #C678DD;
    stroke: #C678DD;
}

.node circle.noChildren {
    fill: #852958;
}

.node text {
    fill: #40A03F;
    font-size: 10px;
    font-family: 'Cardo', Georgia, Times, serif;
    text-anchor: end;
}

.node text.expanded {
    text-anchor: start;
}

.node text.leftToRight {
    text-anchor: start;
}

.node text.leftToRight.expanded {
    text-anchor: end;
}

path.link {
    fill: none;
    stroke: #CCCCCC;
    stroke-width: 1.5px;
}

path.isInPath {
    stroke: #C678DD;
}

